body{
	font-family: arial;
	font-size: 12px;
}
.example1{
	text-align: center;
	border: 1px solid #333;
}
.example1 tr:first-child td{
	background-color: #726e94;
	color: white;
}
.example1 tr td{
	color: #333;
	background-color: #f0f8ff;
}



.mobile-table{
	text-align: center;
}
.mobile-row{
	border: 1px solid #333;
	display block;
	width: 100%;
}
.mobile-table-header{
	background-color: #726e94;
	color: white;
}